{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="container">
        <h1 class="posts-title text-center">Our Blog</h1>
        <div class="col-md-12 ">
            <div class="posts">

            {% for post in posts%}
                <div id="article-post" class="post">

                    <div class="col-lg-12 col-xs-12 ">
                    <div class="container">
                    
                        <h1 class="posts-title2">  <a href ="{{ url_for('show', slug=post.slug) }}">  {{ post.title }} </a> </h1>
                        <p class="articles-body-index">{{ post.body[:510] }}</p>
                    <p class="">by: {{ post.author.username }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div>
    
            
        </div>
        
    </div>
</div>
</div>
            
{% endblock %}